{% extends 'base.html' %} 

{% block title %} 
{{ post.title }}
{% endblock %} 

{% block content %}
    <img src="{{ post.city.photo.cdn_url }}">
    <h4>{{ post.title }}</h4>
    <p>{{ post.timestamp }}</p>
    <h5>"{{ post.content }}"</h5>
    <img class="avatar" src="{{ post.user.profile.avatar.cdn_url }}-/resize/100x100/ }}">
    <p>submitted by <a href="{% url 'user_profile' post.user.id %}">{{ post.user }}</a></p>
    <p>See more posts about <a href="{% url 'view_city' post.city.id %}">{{ post.city }}</a>
        
{% endblock %}