<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %} | WayFarer</title>

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gravitas+One&family=Old+Standard+TT&family=Oswald:wght@200;700&family=PT+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">

  <!-- CUSTOM STYLESHEET -->
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- MATERIALIZE CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
  <header>
    <nav class="navigation">
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" id="brand" class="left brand-logo">&nbsp;WAYFARER</a></li>
        </ul>
        <ul class="right">
            {% if user.is_authenticated %}
                <li><a class="nav-link" href="{% url 'cities' %}">Cities</a></li>
                <li><a class="nav-link" href="{% url 'profile' %}">{{ user.username }}</a></li>
                <li><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>

            {% else %}
                <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <!-- MATERIALIZE JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>