body {
    background-color: #fff;
}

.city-img {
    width: 50%;
    padding: 2px;
}

.city-img:hover {
    opacity: .9;
}

.avatar {
    border-radius: 50%;
}

#header-video {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 1500px;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.header-title {
    font-family: 'Oswald', sans-serif;
    color: #efefef;
    line-height: 130px;
    text-align: center;
    margin-top: 20%;
    font-size: 154px;
    font-weight: 700;
    text-transform: uppercase;
}

.navigation {
    background-color: transparent;
    box-shadow: none;
}

.nav-link {
    color: #011F40;
    font-size: 14px;
    margin: 5px;
    text-transform: uppercase;
}

.nav-link:hover {
    background-color: transparent;
    color: #fff;
    transition: 0.2s;
}

#brand {
    font-size: 38px;
    font-weight: bold;
    color: #000;
    margin: 10px;
}

#brand:hover {
    background-color: transparent;
    color: #000;
    transition: 0.6s;
    margin-left: 20px;
}

.card {
     background-color: transparent !important;
     box-shadow: none !important;
}

.card-content {
     text-align: left;
     padding-bottom: 0 !important;
}

.card-left {
    float: left;
    padding-right: 20px;
}

.city-box {
    padding: 25px;
    width: 100%;
}

.left-city-box {
    width: 30%;
    float: left;
    margin-top: 20%;
}

.right-city-box {
    width: 70%;
    float: right;
}

.cities-header {
    font-size: 100px;
}

.right-city-box2 {
    position: relative;
}

.city-name {
    position: absolute;
    bottom: 15px;
    font-size: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    font-family: 'Oswald', sans-serif;
    color: #efefef;
    background-color: rgba(0, 0, 0, 0.521);
    line-height: 35px;
    text-transform: uppercase;
}

.city-img-box {
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap:   2px;
    -moz-column-count:    2;
    -moz-column-gap:      2px;
    column-count:         2;
    column-gap:           0px;  
}

.city-img-box img {
    width: 100% !important;
    height: auto !important;
}

.city-show-img {
    width: 100%;
}

.city-show-name {
    padding-top: 5px;
    text-align: center;
}

.timestamp {
    color: #666;
    font-size: 12px;
}

.city-photo {
    width: 60%;
    float: left;
}

.city-articles {
    width: 40%;
    float: right;
    padding: 10px;
    text-align: center;
}

.experiences {
    margin-top: 0;
}

.post-show-city-img {
    padding-top: 20px;
    width: 100%;
}

.post-container {
    position: absolute;
    top: 150px;
    left: 15%;
    width: 70%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    padding: 10px;
}

.post-content {
    float: left;
    width: 70%;
    padding: 20px;
}

.post-content-user-info {
    float: right;
    width: 30%;
}

.timestamp-light {
    color: white;
    font-size: 12px;
}