body {
    background-color: #fff;
}

.city-img {
    width: 50%;
    
}

.avatar {
    border-radius: 50%;
}

#header-video {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 1500px;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.header-title {
    font-family: 'Oswald', sans-serif;
    color: #efefef;
    line-height: 130px;
    text-align: center;
    margin-top: 20%;
    font-size: 154px;
    font-weight: 700;
    text-transform: uppercase;
}

.navigation {
    background-color: transparent;
    box-shadow: none;
    padding-right: 75px;
}

.nav-link {
    color: #011F40;
    font-family: 'PT Mono', monospace;
    font-weight: lighter;
    letter-spacing: 5px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 5px;
}

.nav-link:hover {
    background-color: transparent;
    color: #011F40;
    font-size: 20px;
    letter-spacing: 1.5px;
    transition: 0.4s;
}

#pls {
    font-family: 'PT Mono', monospace;
    font-size: 38px;
    font-weight: bold;
    color: #011F40;
    margin-left: 75px;
    margin-top: 15px;
}

#pls:hover {
    background-color: transparent;
    font-family: 'PT Mono', monospace;
    /* font-size: 28px; */
    letter-spacing: 5px;
    color: #011F40;
    transition: 0.6s;
}

.city-index-card {
    border: 2px solid red;
}

.card {
     background-color: transparent !important;
     box-shadow: none !important;
}

.card-content {
     text-align: center;
}

.city-box {
    /* border: 3px solid red; */
    padding: 25px;
    width: 100%;
}

.left-city-box {
    /* border: 3px solid green; */
    width: 30%;
    float: left;
    margin-top: 20%;
}

.right-city-box {
    /* border: 3px solid yellow; */
    width: 70%;
    float: right;
}

.cities-header {
    font-size: 100px;
}

.right-city-box2 {
    position: relative;
}

.city-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    color: #efefef;
    background-color: rgba(0, 0, 0, 0.521);
    line-height: 60px;
    text-transform: uppercase;
}