body {
    background-color: #fefefe;
    font-family: 'Poppins', sans-serif;
    font-weight: light;
    color: #000;
}

img {
    border-radius: 15px;
}

.city-img {
    width: 50%;
    padding: 5px;
    border-radius: 15px;
}

.city-img:hover {
    opacity: .9;
}

.avatar {
    border-radius: 50%;
}

#header-video {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 1500px;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.header-title {
    font-family: 'Oswald', sans-serif;
    color: #efefef;
    line-height: 130px;
    text-align: center;
    margin-top: 15%;
    font-size: 154px;
    font-weight: 700;
    text-transform: uppercase;
}

.navigation {
    background-color: transparent;
    box-shadow: none;
}

.nav-link {
    color: #000;
    font-size: 16px;
    margin: 5px;
    text-transform: uppercase;
}

.nav-link:hover {
    background-color: transparent;
    color: #ff5a5f;
    transition: 0.4s;
}

#brand {
    font-size: 38px;
    font-weight: lighter;
    color: #000;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

#brand:hover {
    background-color: transparent;
    color: #ff5a5f;
    transition: 0.4s;
    margin-left: 20px;
}

.card {
     background-color: transparent !important;
     box-shadow: none !important;
}

.card-content {
     text-align: left;
     padding-bottom: 0 !important;
}

.card-content a {
    color: #FF5A5F;
}

.card-content a:hover {
    color: #000;
}

.card-left {
    float: left;
    padding-right: 20px;
}

.city-box {
    padding: 25px;
    width: 100%;
}

.left-city-box {
    width: 20%;
    float: left;
    margin-top: 10%;
    position: fixed;
}

.right-city-box {
    width: 80%;
    float: right;
}

.cities-header {
    font-size: 100px;
    line-height: 78px;
}

.right-city-box2 {
    position: relative;
}

.city-name {
    position: absolute;
    bottom: 15px;
    font-size: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    font-family: 'Oswald', sans-serif;
    color: #efefef;
    background-color: rgba(0, 0, 0, 0.521);
    line-height: 35px;
    text-transform: uppercase;
}

.city-img-box {
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap:   2px;
    -moz-column-count:    2;
    -moz-column-gap:      2px;
    column-count:         2;
    column-gap:           0px;  
}

.city-img-box img {
    width: 100% !important;
    height: auto !important;
}

.city-show-img {
    width: 100%;
}

.city-show-name {
    padding-top: 5px;
    text-align: center;
    font-size: 32px;
}

.timestamp {
    color: #666;
    font-size: 12px;
}

.city-photo {
    width: 60%;
    float: left;
}

.city-articles {
    width: 40%;
    float: right;
    padding: 10px;
    text-align: center;
}

.experiences {
    margin-top: 0;
    font-size: 24px;
}

.post-show-city-img {
    width: 100%;
    border-radius: 15px;
}

.post-container-city-img {
    border-radius: 15px;
}

.post-container {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    padding: 10px;
}

.post-content {
    float: left;
    width: 70%;
    padding: 20px;
    text-align: left;
}

.post-content-user-info {
    float: right;
    width: 30%;
    text-align: center;
    padding: 20px;
}

.post-content-user-info a {
    color: #ff5a5f;
}

.timestamp-light {
    color: white;
    font-size: 12px;
}

.post-title-heading {
    margin-top: 0;
}

.landing-page-link {
    margin-left: 32%;
    color: #ff5a5f;
    font-size: 32px;
}

.landing-page-link:hover {
    color: #fefefe;
    transition: 0.4s;
}

.post-content-text {
    font-size: 20px; 
    font-weight: lighter;
    line-height: 25px;
}

#modify-btns {
    border: 1px solid white;
    padding: 10px;
    color: white;
    border-radius: 25px;
}

#modify-btns:hover {
    color: #ff5a5f;
}

.experiences-btn {
    color: black;
    border: 1px solid #ff5a5f;
    padding: 10px;
    border-radius: 25px;
}

.experiences-btn:hover {
    border: 1px solid #000;
}

.article-list {
    margin-top: 40px;
    border: 1px solid #000;
    border-radius: 25px;
}

.profile-details {
    padding-bottom: 20px;
    width: 80%;
    font-size: 14px;
    text-align: left;
}