body {
    background-color: #fff;
}

.city-img {
    width: 80%;
}

.avatar {
    border-radius: 50%;
}

#header-video {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 1500px;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.header-title {
    font-family: 'Oswald', sans-serif;
    color: #efefef;
    line-height: 130px;
    text-align: center;
    margin-top: 20%;
    font-size: 154px;
    font-weight: 700;
    text-transform: uppercase;
}

.navigation {
    background-color: transparent;
    box-shadow: none;
    padding-right: 75px;
}

.nav-link {
    color: #011F40;
    font-family: 'PT Mono', monospace;
    font-weight: lighter;
    letter-spacing: 5px;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 5px;
}

.nav-link:hover {
    background-color: transparent;
    color: #011F40;
    font-size: 20px;
    letter-spacing: 1px;
    transition: 0.3s;
}

#pls {
    font-family: 'PT Mono', monospace;
    font-size: 38px;
    font-weight: bold;
    color: #011F40;
    margin-left: 75px;
    margin-top: 15px;
}

#pls:hover {
    background-color: transparent;
    font-family: 'PT Mono', monospace;
    /* font-size: 28px; */
    letter-spacing: 5px;
    color: #011F40;
    transition: 0.6s;
}

.city-index-card {
    border: 2px solid red;
}

.card {
     background-color: transparent !important;
     box-shadow: none !important;
}

.card-content {
     text-align: center;
}