{% extends 'base.html' %}

{% block title %}
{{ user.username }}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col s4">
      <div class="card">
          <div class="card-content">
          <img class="avatar" src="{{ profile.avatar.cdn_url }}-/resize/200x200/">
            <h3 class='experiences'>{{ profile.name }}</h3>
            <p class='profile-details'>location: {{profile.current_city}}<br>
            joined: {{ profile.join_date }}</p>
          <div>
            <a href="{% url 'edit_profile' profile.id %}" type="submit" class="experiences-btn">
          Edit Profile</a>
            </div>
          </div>
      </div>
      </div>
  
  <div class="col s8 article-list">
      <h5 class="profile-posts-header">Your posts:</h5>
      <div class="card">
        <div class="card-content">
        <ol>
          {% for post in posts %}
          <li><a href="{% url 'view_post' post.id %}">
            <p>{{ post.title }}</p>
          </a></li>
          {% endfor %}
          </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}