{% extends 'base.html' %}

{% block title %}
Cities
{% endblock %}

{% block content %}
<div class="city-box">
  <div class="left-city-box">
      <h1 class="cities-header">Go far.</h1>
  </div>

  <div class="right-city-box">
{% for city in cities %}
  <div class="right-city-box2">
    <a href="{% url 'view_city' city.id %}">
          <img class="city-img" src="{{ city.photo.cdn_url }}">
          <span class="city-name">{{ city.name }}</span>
    </a>
    </div>
{% endfor %}
  </div>
</div>
{% endblock %}