{% extends 'base.html' %}

{% block title %}
{{ city.name }}
{% endblock %}

{% block content %}

      <h1 class='city-show-name'>{{city.name}}</h1>
    <div class="city-photo">
      <img class='city-show-img' src="{{ city.photo.cdn_url }}"><br>
    </div>

    <div class="city-articles">
        <h2 class='experiences'>experiences</h2>
          <a href="{% url 'add_post' city.id %}" type="submit" class="btn-small">
          write about {{ city.name }}
          </a>
      {% for post in posts %}
      <div class="card">
          <div class="card-content">
            <a href="{% url 'view_post' post.id %}">
              <p>"{{ post.title }}"</a> by {{ post.user }}</p>
              <p class='timestamp'>{{ post.timestamp }}</p>
            </a>
          </div>
      {% endfor %}
    </div>

{% endblock %}